{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<p>{{request.user.username}}' followers </p>
 
{% if profiles %}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 p-5">
    {% for profile in profiles.followed_by.all%}
    <div class="col p-5">
      <div class="card shadow-sm">  
        {% if profile.profile_image%}
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" ><img src="{{profile.profile_image.url}}" alt="Profile Image"></svg>
        {% else %}
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" ><img src="{% static 'images/profile.jpg' %}" alt="Profile Image"></svg>

        {% endif %}
        <div class="card-body">
          <p class="card-text">{{profile.user.username}}</p>

          {% if profile in profiles.follow.all %}
          
          <a href="{% url 'unfollow' profile.user.id %}"><i class="fa-solid fa-circle-minus"> </i></a>

      
    {%else%} 
        
        <a href="{% url 'follow' profile.user.id %}"> <i class="fa-solid fa-user-plus"></i></a> 
        {% endif %} 


          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary"> <a href="{% url 'profile' profile.id %}">View</a></button>
             
            </div>
            
            <small class="text-body-secondary">{{profile.date_modified}}</small>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
    
  </div>



{% endif %}

{% endblock %}