{% extends 'base/base.html' %}
{% block content %}


{% if request.user.is_authenticated %}
<form method="POST">
    {% csrf_token %}
    <div class="form-floating commetn">
        <input type="text" name="search">
      </div>
    <button type="submit"> post </button>

</form>
{% endif %}

{% if search %}
<p> you search for : {{search}} </p>


{% endif %}

<div>
    {% if tweets %}
  

    <div class="tweetters">
      
    {% for tweet in tweets %}
    

    {% if tweet.user.profile.profile_image %}
    <img src ="{{tweet.user.profile.profile_image.url}}" height=50 width=50/>

    {% comment %} {% else %}

    <img src=" {% static 'images/profile.jpg' %}" width=50 height=50 class="rounded-circle"> {% endcomment %}
   

    {% endif %}
   

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">{{tweet.user.username}} </h4>
    <small class="text-muted">{{tweet.created_at}} </small>
    <hr>
    <p class="mb-0">{{tweet.body}}</p>
    <p>{{tweet.number_of_likes}}likes </p>
    {% if user in tweet.likes.all %}
    <a href="{% url 'tweet_like' tweet.id %}">
      <i class="fa-solid fa-heart" style = "color:red"></i> </a>
    {%else%}


    <a href="{% url 'tweet_like' tweet.id %}"><i class="fa-regular fa-heart" style="color: red"></i>  </a>
    {% endif %}
   
      <a href = "{% url 'tweet_share' tweet.id %}"> <i class="fa-solid fa-share">    </i> </a>

  </div>
  
  {% endfor %}

</div>
{% endif %}


</div>


{% endblock %}