{% extends 'base/base.html' %}
{% block content %}

<h1> shared tweets </h1>



<div class="tweeter-container">
  {% if tweets %}
  

    <div class="tweetters">
      
   
    

    {% if tweets.user.profile.profile_image %}
    <img src ="{{tweets.user.profile.profile_image.url}}" height=50 width=50/>

    {% comment %} {% else %}

    <img src=" {% static 'images/profile.jpg' %}" width=50 height=50 class="rounded-circle"> {% endcomment %}
   

    {% endif %}
   

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">{{tweets.user.username}} </h4>
    <small class="text-muted">{{tweets.created_at}} </small>
    <hr>
    <p class="mb-0">{{tweets.body}}</p>
    <p>{{tweets.number_of_likes}}likes </p>
    {% if user in tweets.likes.all %}
    <a href="{% url 'tweet_like' tweets.id %}">
      <i class="fa-solid fa-heart" style = "color:red"></i> </a>
    {%else%}


    <a href="{% url 'tweet_like' tweets.id %}"><i class="fa-regular fa-heart" style="color: red"></i>  </a>
    {% endif %}
    <i class="fa-solid fa-share"></i>
  </div>


</div>
{% endif %}



</div>






{% endblock %}
